@{
    ViewBag.Title = "About";
}

<h3>Lịch sử hình thành thương hiệu văn phòng phẩm</h3>

<p>
    
    Lịch sử của PLUS CORPORATION bắt đầu vào năm 1948, khi Công ty TNHH Văn phòng phẩm Chiyoda được thành lập thông qua sự hợp nhất của hai nhà bán buôn vật tư văn phòng tại Tokyo - Imaizumi Shoten và Suzuki Shoten. Tên công ty sau đó được đổi thành PLUS CORPORATION vào năm 1959. Cái tên này có nguồn gốc từ thực tế là hai công ty được hợp nhất với nhau ( thành  "Plus"), cũng như ngụ ý về nguyện vọng của người sáng lập là tạo ra một công ty cộng với xã hội. Hơn nữa, với mục đích mở rộng kinh doanh trong tương lai, Plus đã đặt tên công ty của mình khác với các công ty khác vào thời điểm đó, đặt tên họ theo tên của chính họ theo các sản phẩm mà họ xử lý hoặc ngành công nghiệp của họ, chẳng hạn như Thiết bị văn phòng hoặc phân phối Văn phòng phẩm . Kể từ đó, Plus đã làm việc hăng say với tư cách là một nhà sản xuất trong việc phát triển sản phẩm, và đã dần dần chuyển đổi từ một nhà bán buôn văn phòng phẩm và vật tư hàng hóa thành một nhà sản xuất có thương hiệu, và sau đó là một nhà sản xuất quy mô lớn với các nhà máy của riêng Plus. Trong khi đó, Plus tiếp tục thúc đẩy việc tạo ra thị trường, bao gồm phát triển các dịch vụ phân phối độc đáo như ASKUL và Biznet, không bị ràng buộc bởi các hoạt động kinh doanh của ngành hoặc phạm vi sản phẩm của văn phòng phẩm và đồ nội thất. Để đối phó với môi trường kinh tế luôn thay đổi này, Plus tập trung vào từng hoạt động kinh doanh như sản xuất và phân phối, trong khi vẫn tìm kiếm các hệ thống quản lý tối ưu và với tư cách là công ty quản lý của các công ty thuộc tập đoàn của Plus tham gia vào lĩnh vực hậu cần, sản xuất, bán hàng và các hoạt động kinh doanh khác trên toàn thế giới , Plus mong muốn cung cấp mức độ hài lòng cao nhất của khách hàng.
</p>
