@model VPP18.Models.DANHMUCSANPHAM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>XÓA SẢN PHẨM</h2>

<h3>BẠN CÓ MUỐN XÓA DANH MỤC SẢN PHẨM</h3>
<div>
    <h4>DANH MỤC SẢN PHẨM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Danh Mục:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDM)
        </dd>

        <dt>
            Hình Ảnh:
        </dt>

        <dd>
            <img style="width:150px" src="~/Content/images/@Model.HinhAnh" />
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trể về trang trước", "Danhmuc")
        </div>
    }
</div>
