@model VPP18.Models.DANHMUCSANPHAM

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>CHI TIẾT SẢN PHẨM</h2>

<div>
    <h4>DANH MỤC SẢN PHẨM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Danh Mục:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDM)
        </dd>

        <dt>
            Hình Ảnh:
        </dt>

        <dd>
            <img style="width:150px" src="~/Content/images/@Model.HinhAnh"/>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDM }) |
    @Html.ActionLink("Trở về trang trước", "Danhmuc")
</p>
